# Directories to ignore
ARCHIVE/
Neutral Redistricting/
Output/
Scripts/
Simulated Shapefiles/
Simulating Plans/
Workflow/
Bluehive/

# Files to ignore
sim_population_tc.R
wasted_votes_analysis_may30.R

